<div class="svg-wrapper-inner component-inner">
    {{> component this}}
    <div class="svg-wrapper-widget component-widget">
        <div class="spacer"></div>
        <iframe type="image/svg+xml" src="" width="100%" height="100%">
        </iframe>

        <div class="next">
            <button class="next-button"></button>
        </div>
    </div>
</div>